manifest {
    description = 'Puzzler Genome Assembly Pipeline'
    version = '1.0.0'
}

// Profiles configuration
profiles {
    slurm {
        executor {
            name = 'slurm'
            queueSize = 2
            submitRateLimit = '30 sec'
        }
        
        process {
            executor = 'slurm'
            
            withLabel: hifiasm {
                cpus = 64
                memory = '370.GB'
                time = '48.h'
                clusterOptions = '--partition=short --cpus-per-task=64 --mem=370G --time=48:00:00'
            }
            
            withLabel: purge_dups {
                cpus = 24
                memory = '128.GB'
                time = '24.h'
                clusterOptions = '--partition=short --cpus-per-task=24 --mem=128 --time=24:00:00'
            }
            
            withLabel: hap_hic {
                cpus = 24
                memory = '256.GB'
                time = '48.h'
                clusterOptions = '--partition=short --cpus-per-task=24 --mem=256G --time=48:00:00'
            }
            
            withLabel: ragtag {
                cpus = 10
                memory = '64.GB'
                time = '24.h'
                clusterOptions = '--partition=short --cpus-per-task=10 --mem=64G --time=24:00:00'
            }
        }
    }
}

// Pipeline parameters
params {
    wd = "/project/coffea_pangenome/Artocarpus/Assemblies/20241115_JustinAssemblies"
    workDir = "/project/coffea_pangenome/Artocarpus/tmp_nf"
    reference = "/project/coffea_pangenome/Artocarpus/WholeGenomeAlignments/fastas/ASM2540343.fa"
    samples = "${params.wd}/samples.csv"
}

// Working directory
workDir = params.workDir