manifest {
    description = 'Puzzler Genome Assembly Pipeline'
    version = '1.0.0'
}

executor {
    name = 'local'
}

params {
    wd = "/project/coffea_pangenome/Artocarpus/Assemblies/20241115_JustinAssemblies"
    workDir = "/project/coffea_pangenome/Artocarpus/tmp_nf"
    reference = "/project/coffea_pangenome/Artocarpus/WholeGenomeAlignments/fastas/ASM2540343.fa"
    samples = "${params.wd}/samples.csv"
}

workDir = params.workDir 
